{% extends 'base.html' %}

{% block content %}
    <div class="forms">
        <h3>Изменить данные клиента:</h3>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" value="{{ klient.name }}" class="form-control"><br>
            <input type="text" name="last_name" value="{{ klient.last_name }}" class="form-control"><br>
            <input type="number" name="money" value="{{ klient.money }}" class="form-control"><br>
            <input type="text" name="month" value="{{ klient.month }}" class="form-control"><br>
            <input type="submit" class="btn btn-success" value="Изменить"><br>
        </form>
    </div>
{% endblock %}